.stack-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-rotate {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: grab;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.card-rotate-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.stack-card {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Hide content of 3rd card and below in the stack to optimize performance and prevent deep bleed-through */
.stack-card.is-under .mobile-project-card * {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.stack-card img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}